<section class="area">
  <div class="container">
    <div class="row">
      <!-- Painel principal (Senha e Guichê) -->
      <div class="col-md-6">
        <div class="h-100 w-100 z-index-2">
          <div class="row mb-2 mt-5">
            <div class="col-lg-12 mb-4">
              <table class="table table-hover table-striped">
                <thead>
                  <th></th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <!-- Exibe PACIENTE ou SENHA -->
                      <h3>{{ psenha && pguiche ? (pguiche === pconsultorio ? 'PACIENTE' : 'SENHA') : '' }}</h3>
                      <h1 class="display-1" style="color: blue;">
                        <b><strong>{{ psenha }}</strong></b>
                      </h1>
                      <!-- Exibe CONSULTÓRIO ou GUICHÊ -->
                      <h3>{{ pguiche !== '00' ? (pguiche === pconsultorio ? 'CONSULTÓRIO' : 'GUICHÊ') : '' }}</h3>
                      <h1 class="display-1" style="color: blue;">
                        <b><strong>{{ pguiche }}</strong></b>
                      </h1>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
 


      <!-- Linha vertical de separação entre o painel principal e as senhas chamadas -->
      <div class="col-md-1 d-flex justify-content-center">
        <div class="separator"></div>
      </div>

      <!-- Senhas chamadas ocupando 50% da tela -->
      <div class="col-md-5">
        <div class="header mt-5">
          <h4 class="title"><b>SENHAS CHAMADAS</b></h4>
          <!-- Subtítulo desativado que pode ser utilizado para fornecer informações adicionais -->
          <!--<p class="category"><small>abaixo, segue as últimas senhas chamadas pelo sistema</small></p>-->
          <div class="row">
           
            

            <div class="row">
              <div class="col-md-12 mb-3" *ngFor="let senha of senhasChamadas$ | async">
                <div class="table table-hover table-striped">
                  <div class="header text-center">
                    <a>
                     
                      <h4 class="card-title" style="color: blue;">
                        <b>SENHA: {{ senha.senha }}</b>
                      </h4>
                      <h3 class="card-text" style="color: blue;">
                        <small>MESA: {{ senha.guiche }}</small>
                      </h3>
                    </a>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>

     <!-- Exibe o logotipo centralizado e maior -->
     <div class="d-flex justify-content-center mb-2 logo-position">
      <img style="width: 40%;" src="./assets/img/logoazul.png" />
    </div>
  </div>
</section>
