<section>
  <app-menu></app-menu>
</section>
<section>
<div style="text-align: center;">
    <strong>Cadastrar novo setor</strong>
  </div>
  <div class="col-md-12">
    <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
     <!-- <div class="form-group">
        <label for="nomeCriadorDoSetor">Nome:</label>
        <input id="nomeCriadorDoSetor" class="form-control" formControlName="nome">
      </div>

      <div class="form-group">
        <label for="corretor">Corretor:</label>
        <input id="corretor" class="form-control" formControlName="corretor">
      </div>
    

      
      <div class="form-group" *ngIf="mostrarSigla">
        <label for="sigla">Sigla do Setor:</label>
        <input id="sigla" class="form-control" formControlName="sigla">
      </div>-->
     
      <div formArrayName="setores">
        <div *ngFor="let setor of setores.controls; let i = index" [formGroupName]="i" class="form-group">
          <label for="setor-{{i}}">Setor {{ i + 1 }}:</label>
          <input id="setor-{{i}}" class="form-control" formControlName="nomeSetor">
          <button type="button" class="btn btn-danger" (click)="removerSetor(i)">Remover</button>
         
          <div class="form-group" *ngIf="mostrarSigla">
            <label for="sigla">Sigla do Setor:</label>
            <input id="sigla" class="form-control" formControlName="sigla">
          </div>
          
          <!--<div class="m-4">
            <button type="button" class="btn btn-primary" (click)="adicionarGuiche()">Adicionar Guiche</button>
            <div *ngFor="let guiche of guiches.controls; let j = index" [formGroupName]="j" class="form-group">
              <label for="guiche-{{j}}">Guiche {{ j + 1 }}:</label>
              <input id="guiche-{{j}}" class="form-control" formControlName="nomeGuiche">
              <button type="button" class="btn btn-danger" (click)="removerGuiche(j)">Remover</button>
            </div>
          </div>-->
       
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="adicionarSetor()">Adicionar Setor</button>
      </div>
      <div>
        <label for="status">Status:</label>
        <input id="status" formControlName="status" type="text" class="form-control" />
        <div *ngIf="formulario.get('status')?.invalid && formulario.get('status')?.touched">
          <small class="text-danger">O campo status é obrigatório.</small>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Cadastrar</button>
      </div>
    </form>
  </div>
  <div style="margin-bottom: 40px;"></div>
</section>