<section style="background-color: #003366; color: rgb(240, 0, 0); height: 0vh;">
  <app-menu></app-menu>
</section>

<section style="background-color: #003366; color: white; height: 100vh; display: flex; flex-direction: column; justify-content: center;">
 

  <div class="d-flex justify-content-center align-items-center" style="flex-direction: column; flex-grow: 1;">
    <div style="text-align: center; margin-bottom: 20px;">
      <strong>Cadastrar novo setor</strong>
      
    </div>
    <form [formGroup]="formulario" (ngSubmit)="cadastrar()" style="width: 100%; max-width: 600px;">
      <div formArrayName="setores">
        <div *ngFor="let setor of setores.controls; let i = index" [formGroupName]="i" class="form-group">
          <label for="setor-{{i}}">Setor:</label>
          <input id="setor-{{i}}" class="form-control" formControlName="nomeSetor" style="width: 100%;" />
        
          <div class="form-group">
            <label for="sigla">Sigla do Setor:</label>
            <input 
              id="sigla" 
              class="form-control" 
              formControlName="sigla" 
              style="width: 100%;" 
              maxlength="3" 
            />
          </div>
        </div>
      </div>

      <div style="width: 100%; max-width: 600px;">
        <label for="status">Status:</label>
        <input id="status" formControlName="status" type="text" class="form-control" style="width: 100%;" />
        <div *ngIf="formulario.get('status')?.invalid && formulario.get('status')?.touched">
          <small class="text-danger">O campo status é obrigatório.</small>
        </div>
      </div>

      <div class="form-group" style="width: 100%; max-width: 600px; text-align: center;">
        <button type="submit" class="btn btn-success" style="width: 100%; margin-top: 10px;">Cadastrar</button>
      </div>
    </form>
  </div>
</section>
