/* Estilos principais */
html, body {
    overflow-y: auto;
    height: auto;
  }
  
  /* Ajustes de botão */
  button {
    margin-top: 10px;
  }
  
  button.btn-info {
    background-color: #17a2b8;
    color: rgb(20, 19, 19);
  }
  
  button.btn-primary {
    background-color: #0264d6;
    color: white;
  }
  
  button.btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  button.btn-success {
    background-color: #28a745;
    color: white;
  }
  .blue-background {
  background-color: #003366; /* Azul escuro */
  color: white; /* Cor do texto */
  height: 100vh; /* Ocupa toda a altura da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  