<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Criando Senha...</p>
</ngx-spinner>

<!-- TELA DE SELEÇÃO DE SETORES -->
<section *ngIf="!convencional">
  <div class="main">
    <div class="container">
      <div class="d-flex justify-content-center">
        <img style="width:10%; margin-bottom: 8%;" src="./assets/img/logouai.png"/>
      </div>
      <div class="middle row">
        <div class="col-md-12 mb-4 text-center">
          <h3 class="text-white">Selecione um setor</h3>
        </div>

        <!-- Botões com setores fixos em layout vertical -->
        <div class="col-md-12 d-flex flex-column align-items-center">
          <button class="btn btn-2 btn-2h my-2" (click)="selecionarSetor('CONSULTA')">CONSULTA</button>
          <button class="btn btn-2 btn-2h my-2" (click)="selecionarSetor('REALIZAR AGENDAMENTO')">REALIZAR AGENDAMENTO</button>
          <button class="btn btn-2 btn-2h my-2" (click)="selecionarSetor('EXAME')">EXAME</button>
          <button class="btn btn-2 btn-2h my-2" (click)="selecionarSetor('RESULTADO DE EXAMES')">RESULTADO DE EXAMES</button>
        </div>

     
      </div>
    </div>
  </div>
</section>

<!-- TELA CONVENCIONAL -->
<section *ngIf="convencional">
  <div class="main">
    <div class="container">    
      <!-- Logo da empresa -->
      <div class="d-flex justify-content-center">
        <img style="width:10%; margin-bottom: 8%;" src="./assets/img/logouai.png"/>
      </div> 
      <div class="middle row">
        <!-- Setor selecionado -->
        <div class="col-md-12 mb-2 text-center">
          <label class="text-white">Setor Selecionado:</label>
          <p class="setor-selecionado display-4 text-white">{{ setorSelecionado }}</p>
        </div>

        <!-- Botões GERAR SENHA e VOLTAR em layout vertical -->
        <div class="col-md-12 d-flex flex-column align-items-center">
          <button class="btn btn-2 btn-2h my-2" (click)="gerarSenha(false)">GERAR SENHA</button>
          <button class="btn btn-2 btn-2h my-2" (click)="mudarSetor()">VOLTAR</button>
        </div>
      </div>  
    </div>
  </div>
</section>

