<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Criando Senha...</p>
</ngx-spinner>

<!-- TELA DE SELEÇÃO DE SETORES -->
 <img class="logo-humanitas logo-fixed" src="./assets/img/logohumanitas.png"/>
<section *ngIf="!convencional">
  <div class="main">
    <div class="container ">
      <div class="row">
        <div class="col-md-12 mb-5 text-center mt-4">
          <h3 class=" espacot">TIPO DE ATENDIMENTO:</h3>
        </div>

        <!-- Botões com setores fixos em layout vertical -->
        <div class="col-md-12 d-flex flex-column align-items-center ">
          <button class="btn btn-2 btn-2h espaco " (click)="selecionarSetor('CONSULTA')">CONSULTA</button>
          <button class="btn btn-2 btn-2h espaco" (click)="selecionarSetor('REALIZAR AGENDAMENTO')">REALIZAR AGENDAMENTO</button>
          <button class="btn btn-2 btn-2h espaco" (click)="selecionarSetor('EXAME')">EXAME</button>
          <button class="btn btn-2 btn-2h espaco" (click)="selecionarSetor('RESULTADO DE EXAMES')">RESULTADO DE EXAMES</button>
        </div>

     
      </div>
    </div>
  </div>
</section>

<!-- TELA CONVENCIONAL -->
<section *ngIf="convencional">
  <div class="main">
    <div class="container">    
      <!-- Logo da empresa -->
     
      <div class="row">
        <!-- Setor selecionado -->
        <div class="col-md-12  text-center">
          <label class=" mb-4 titulo1">Selecionado:</label>
          <p class="setor-selecionado display-4 espacotitulo">{{ setorSelecionado }}</p>
        </div>

        <!-- Botões GERAR SENHA e VOLTAR em layout vertical -->
        <div class="col-md-12 d-flex flex-column align-items-center">
          <button class="btn btn-2 btn-2h espaco" (click)="gerarSenha(false)">GERAR SENHA</button>
          <button class="btn btn-2 btn-2h espacoinferiorsegundatela" (click)="mudarSetor()">VOLTAR</button>
        </div>
      </div>  
    </div>
  </div>
</section>

