<section>
  <div class="main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="mt-4 text-center">
            <h3 class="text-white">Cadastrar Dados da Empresa</h3>
          </div>

          <div class="col-md-12">
            <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
              <div class="form-group">
                <label for="nome">Nome:</label>
                <input id="nome" class="form-control" formControlName="nome">
              </div>

              <div class="form-group">
                <label for="corretor">Corretor:</label>
                <input id="corretor" class="form-control" formControlName="corretor">
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="adicionarSetor()">Adicionar Setor</button>
              </div>

              <div formArrayName="setores">
                <div *ngFor="let setor of setores.controls; let i = index" [formGroupName]="i" class="form-group">
                  <label for="setor-{{i}}">Setor {{ i + 1 }}:</label>
                  <input id="setor-{{i}}" class="form-control" formControlName="nomeSetor">
                  <button type="button" class="btn btn-danger" (click)="removerSetor(i)">Remover</button>

                  <div class="m-4">
                    <button type="button" class="btn btn-primary" (click)="adicionarGuiche()">Adicionar Guiche</button>
                    <div *ngFor="let guiche of guiches.controls; let j = index" [formGroupName]="j" class="form-group">
                      <label for="guiche-{{j}}">Guiche {{ j + 1 }}:</label>
                      <input id="guiche-{{j}}" class="form-control" formControlName="nomeGuiche">
                      <button type="button" class="btn btn-danger" (click)="removerGuiche(j)">Remover</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success">Cadastrar</button>
              </div>
            </form>
          </div>

          <div class="mt-4 text-center">
            <button class="btn btn-info" (click)="exibirRelatorio()">Exibir Relatório</button>
          </div>
       <!-- Exibição do relatório na página -->
       <div class="mt-4 text-center">
        <pre *ngIf="relatorio">{{ relatorio }}</pre> <!-- Exibe os dados do relatório -->
      </div>
    </div>
  </div>
</div>
</div>
</section>

