<section>
  <div class="main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="mt-4 text-center">
            <h3 class="text-white">Cadastrar Dados da Empresa</h3>
          </div>

          <div class="col-md-12">
            <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
              <div class="form-group">
                <label for="nome">Nome:</label>
                <input id="nome" class="form-control" formControlName="nome">
              </div>

              <div class="form-group">
                <label for="corretor">Corretor:</label>
                <input id="corretor" class="form-control" formControlName="corretor">
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="adicionarSetor()">Adicionar Setor</button>
              </div>

              <div formArrayName="setores">
                <div *ngFor="let setor of setores.controls; let i = index" [formGroupName]="i" class="form-group">
                  <label for="setor-{{i}}">Setor {{ i + 1 }}:</label>
                  <input id="setor-{{i}}" class="form-control" formControlName="nomeSetor">
                  <button type="button" class="btn btn-danger" (click)="removerSetor(i)">Remover</button>

                  <div class="m-4">
                    <button type="button" class="btn btn-primary" (click)="adicionarGuiche()">Adicionar Guiche</button>
                    <div *ngFor="let guiche of guiches.controls; let j = index" [formGroupName]="j" class="form-group">
                      <label for="guiche-{{j}}">Guiche {{ j + 1 }}:</label>
                      <input id="guiche-{{j}}" class="form-control" formControlName="nomeGuiche">
                      <button type="button" class="btn btn-danger" (click)="removerGuiche(j)">Remover</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success">Cadastrar</button>
              </div>
            </form>
          </div>
          
             <!-- Relatório com filtros -->
             <div class="form-group">
              <button type="button" class="btn btn-primary" (click)="exibirRelatorio()">Exibir Relatório</button>
            </div>
  
            <!-- Filtros -->
            <div class="filters">
              <div class="filter">
                <label>Operador:</label>
                <select [(ngModel)]="filtroOperador" (ngModelChange)="filtrarRelatorio()">
                  <option value="">Todos</option>
                  <option *ngFor="let operador of operadores" [value]="operador">{{ operador }}</option>
                </select>
                <button *ngIf="filtroOperador" (click)="removerFiltro('operador')">Remover</button>
              </div>
              <div class="filter">
                <label>Guiche:</label>
                <select [(ngModel)]="filtroGuiche" (ngModelChange)="filtrarRelatorio()">
                  <option value="">Todos</option>
                  <option *ngFor="let guiche of guichesList" [value]="guiche">{{ guiche }}</option>
                </select>
                <button *ngIf="filtroGuiche" (click)="removerFiltro('guiche')">Remover</button>
              </div>
              <div class="filter">
                <label>Senha:</label>
                <select [(ngModel)]="filtroSenha" (ngModelChange)="filtrarRelatorio()">
                  <option value="">Todos</option>
                  <option *ngFor="let senha of senhasList" [value]="senha">{{ senha }}</option>
                </select>
                <button *ngIf="filtroSenha" (click)="removerFiltro('senha')">Remover</button>
              </div>
              <div class="filter">
                <label>Nota:</label>
                <select [(ngModel)]="filtroNota" (ngModelChange)="filtrarRelatorio()">
                  <option value="">Todos</option>
                  <option *ngFor="let nota of notasList" [value]="nota">{{ nota }}</option>
                </select>
                <button *ngIf="filtroNota" (click)="removerFiltro('nota')">Remover</button>
              </div>
            </div>
  
            <!-- Relatório -->
            <div class="relatorio">
              <div class="relatorio" [innerHTML]="relatorio"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

