<section>
  <div class="main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="mt-4 text-center">
            <h3 class="text-white">Cadastrar Dados da Empresa</h3>
          </div>

          <div class="col-md-12">
            <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
              <div class="form-group">
                <label for="nome">Nome:</label>
                <input id="nome" class="form-control" formControlName="nome">
              </div>

              <div class="form-group">
                <label for="corretor">Corretor:</label>
                <input id="corretor" class="form-control" formControlName="corretor">
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="adicionarSetor()">Adicionar Setor</button>
              </div>

              <div formArrayName="setores">
                <div *ngFor="let setor of setores.controls; let i = index" [formGroupName]="i" class="form-group">
                  <label for="setor-{{i}}">Setor {{ i + 1 }}:</label>
                  <input id="setor-{{i}}" class="form-control" formControlName="nomeSetor">
                  <button type="button" class="btn btn-danger" (click)="removerSetor(i)">Remover</button>

                  <div class="m-4">
                    <button type="button" class="btn btn-primary" (click)="adicionarGuiche()">Adicionar Guiche</button>
                    <div *ngFor="let guiche of guiches.controls; let j = index" [formGroupName]="j" class="form-group">
                      <label for="guiche-{{j}}">Guiche {{ j + 1 }}:</label>
                      <input id="guiche-{{j}}" class="form-control" formControlName="nomeGuiche">
                      <button type="button" class="btn btn-danger" (click)="removerGuiche(j)">Remover</button>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <label for="status">Status:</label>
                <input id="status" formControlName="status" type="text" class="form-control" />
                <div *ngIf="formulario.get('status')?.invalid && formulario.get('status')?.touched">
                  <small class="text-danger">O campo status é obrigatório.</small>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success">Cadastrar</button>
              </div>
            </form>
          </div>
          
           <!-- Relatório com filtros -->
           <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="exibirRelatorio()">Exibir Relatório</button>
          </div>

          <!-- Filtros -->
          <div class="filters row justify-content-center">
            <div class="filter col-md-3 text-center">
              <label>Operador:</label>
              <select [(ngModel)]="filtroOperador" (ngModelChange)="filtrarRelatorio()">
                <option value="">Todos</option>
                <option *ngFor="let operador of operadores" [value]="operador">{{ operador }}</option>
              </select>
              <button *ngIf="filtroOperador" (click)="removerFiltro('operador')" class="btn btn-sm btn-danger mt-2">Remover</button>
            </div>
            <div class="filter col-md-3 text-center">
              <label>Guiche:</label>
              <select [(ngModel)]="filtroGuiche" (ngModelChange)="filtrarRelatorio()">
                <option value="">Todos</option>
                <option *ngFor="let guiche of guichesList" [value]="guiche">{{ guiche }}</option>
              </select>
              <button *ngIf="filtroGuiche" (click)="removerFiltro('guiche')" class="btn btn-sm btn-danger mt-2">Remover</button>
            </div>
            <div class="filter col-md-3 text-center">
              <label>Senha:</label>
              <select [(ngModel)]="filtroSenha" (ngModelChange)="filtrarRelatorio()">
                <option value="">Todos</option>
                <option *ngFor="let senha of senhasList" [value]="senha">{{ senha }}</option>
              </select>
              <button *ngIf="filtroSenha" (click)="removerFiltro('senha')" class="btn btn-sm btn-danger mt-2">Remover</button>
            </div>
            <div class="filter col-md-3 text-center">
              <label>Nota:</label>
              <select [(ngModel)]="filtroNota" (ngModelChange)="filtrarRelatorio()">
                <option value="">Todos</option>
                <option *ngFor="let nota of notasList" [value]="nota">{{ nota }}</option>
              </select>
              <button *ngIf="filtroNota" (click)="removerFiltro('nota')" class="btn btn-sm btn-danger mt-2">Remover</button>
            </div>
            <div class="filter col-md-3 text-center">
              <label>Setor:</label>
              <select [(ngModel)]="filtroSetor" (ngModelChange)="filtrarRelatorio()">
                <option value="">Todos</option>
                <option *ngFor="let setor of setoresList" [value]="setor">{{ setor }}</option>
              </select>
              
              <button *ngIf="filtroSetor" (click)="removerFiltro('setor')" class="btn btn-sm btn-danger mt-2">Remover</button>
            </div>

            <div class="filter col-md-3 text-center">
              <label>Preferencial:</label>
              <select [(ngModel)]="filtroPreferencial" (ngModelChange)="filtrarRelatorio()">
                <option value="">Todos</option>
                
                <option *ngFor="let preferencial of preferencialList" [value]="preferencial">{{ preferencial }}</option>
              </select>
              
              <button *ngIf="filtroPreferencial" (click)="removerFiltro('preferencial')" class="btn btn-sm btn-danger mt-2">Remover</button>
            </div>
          </div>

          <div class="filters row justify-content-center">
            <div class="filter col-md-3 text-center">
              <label>Dia:</label>
              <select [(ngModel)]="filtroDia" (ngModelChange)="filtrarRelatorio()">
                <option value="">Todos</option>
                <option *ngFor="let dia of diasList" [value]="dia">{{ dia }}</option>
              </select>
              <button *ngIf="filtroDia" (click)="removerFiltro('dia')" class="btn btn-sm btn-danger mt-2">Remover</button>
            </div>
            <div class="filter col-md-3 text-center">
              <label for="mes">Mês:</label>
              <select [(ngModel)]="filtroMes" (change)="filtrarRelatorio()">
                <option value="">Todos</option>
                <option *ngFor="let mes of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="mes">{{ mes }}</option>
              </select>
            </div>
            <div class="filter col-md-3 text-center">
              <label for="semana">Semana:</label>
              <select [(ngModel)]="filtroSemana" (change)="filtrarRelatorio()">
                <option value="">Todas</option>
                <option *ngFor="let semana of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" [value]="semana">{{ semana }}</option>
              </select>
            </div>
          </div>

          <!-- Relatório -->
          <div class="relatorio">
            <div class="relatorio" [innerHTML]="relatorio"></div>
            <button (click)="confirmarApagarBanco()" class="btn btn-danger">Apagar Banco</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>