/* Estilos principais */
html, body {
  overflow-y: auto;
  height: auto;
}
div.main {
  background: radial-gradient(ellipse at center, #0264d6 1%, #1c2b5a 100%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Permite rolagem vertical caso o conteúdo seja grande */
  
}
.relatorio-container {
  max-height: 400px;   /* Ajuste a altura máxima conforme necessário */
  overflow-y: auto;    /* Habilita a rolagem vertical */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;  /* Adiciona uma borda para definir a área do conteúdo */
  max-width: 90vw;
}
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(221, 14, 14, 0.1);
  overflow-y: auto; /* Permite rolagem vertical caso o conteúdo seja grande */
  
}

h3 {
  font-size: 2rem;
  color: #0264d6;
  margin-bottom: 20px;
}

/* Estilos para os filtros */
.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  margin-bottom: 15px;
}

.filter label {
  font-weight: bold;
  color: #0264d6;
  margin-bottom: 5px;
  text-align: center;
}

.filter select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align-last: center;
  font-size: 1rem;
}

.filter button {
  margin-top: 5px;
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.filter button:hover {
  background-color: #c82333;
}

/* Estilos para centralizar os botões */
.filter-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter-container button {
  margin: 0 5px;
  background-color: #0264d6;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.filter-container button:hover {
  background-color: #1c2b5a;
}

/* Filtros de Mês e Semana */
.filtro-mes-semana {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.filtro-mes-semana select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align-last: center;
  font-size: 1rem;
  width: 45%;
}

.filtro-mes-semana label {
  font-weight: bold;
  color: #0264d6;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}

.filtro-mes-semana button {
  margin-top: 5px;
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.filtro-mes-semana button:hover {
  background-color: #c82333;
}

/* Estilos para o relatório */
.relatorio {
  margin-top: 30px;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 10px; /* Adiciona margem ao redor da tabela */
  border: 2px solid black; /* Borda preta */
  
}

.table-responsive {
  max-height: 500px;
  overflow-y: auto;

  table {
    table-layout: fixed;
    width: 100%;
  }

  th {
    position: sticky;
    top: 0;
    background-color: #0264d6;
    z-index: 10;
  }
}
th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid black; /* Borda preta nas células */

}

th {
  background-color: #0264d6;
  color: white;
}

td {
  background-color: #f9f9f9;
}

/* Ajustes de botão */
button {
  margin-top: 10px;
}

button.btn-info {
  background-color: #17a2b8;
  color: rgb(20, 19, 19);
}

button.btn-primary {
  background-color: #0264d6;
  color: white;
}

button.btn-danger {
  background-color: #dc3545;
  color: white;
}

button.btn-success {
  background-color: #28a745;
  color: white;
}

