<section style="background-color: #003366; color: white; height: 100vh;">
  <app-menu></app-menu>
  <div class="main" style="background-color: #003366; color: rgb(10, 160, 247);">
    <div class="container" style="background-color: #003366;">
      <div class="row justify-content-center" style="background-color: #003366;">
        <div class="col-md-8" style="background-color: #003366;">
          <div class="mt-4 text-center" style="background-color: #003366;">
            <h3 class="text-white">Dados da Empresa</h3>
          </div>
        

          <!-- Tabela de usuários -->
          <div *ngIf="mostrarUsuarios" class="usuarios-container" style="background-color: #003366;">
            <h3 class="text-white">Usuários Cadastrados</h3>
            <table class="table-bordered" style="background-color: #003366; color: rgb(0, 0, 0);">
              <thead>
                <tr>
                  <th>Email</th>
                  <th>Setor</th>
                  <th>Função</th>
                  <th>Alterar Setor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuariosSalvos">
                  <td>{{ usuario.email }}</td>
                  <td>{{ usuario.setor }}</td>
                  <td>{{ usuario.funcao }}</td>
                  <td>
                    <!-- Select para mudar o setor -->
                    <select [(ngModel)]="usuario.setor" (change)="alterarSetor(usuario)" class="form-control">
                      <option *ngFor="let setor of setoresSalvos" [value]="setor.nomeSetor">
                        {{ setor.nomeSetor }}
                      </option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>

            <h3 class="text-white">Setores Cadastrados</h3>
            <div *ngIf="mostrarSetores">
              <table class="table table-bordered" style="background-color: #003366; color: white;">
                <thead>
                  <tr>
                    <th>Nome do Setor</th>
                    <th>Sigla</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let setor of setoresSalvos">
                    <td>{{ setor.nomeSetor }}</td>
                    <td>{{ setor.sigla }}</td>
                    <td>{{ setor.status }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <button (click)="confirmarApagarBanco()" class="btn btn-danger">Apagar Banco</button>
        </div>
      </div>
    </div>
  </div>
</section>
