<!-- Spinner de carregamento enquanto uma senha é chamada -->
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Chamando Senha...</p>
</ngx-spinner>


<!--TELA CONVENCIONAL-->
<section *ngIf="telaoperador">  
  <div class="main">
    <!-- Cabeçalho com informações do operador -->
    <div class="row text-center pt-5 ">
    <div class="col-md-12 ">
      <h1 style="color:rgb(255, 255, 255)">OPERADOR(A)</h1>
      <h3 style="color:rgb(136, 157, 189)"> {{operador}}</h3>
    </div>
    
    <!-- Botao para chamar senha -->
    <div class="col-md-6 mt-5">
      <button class="btn  botao" (click)="chamarSenhaConvencional()">CHAMAR SENHA</button>
    </div>
   
   
    <!-- Formulário de informações adicionais -->
   <div 
  *ngIf="(senhaOperadorPainel.setor === 'CONSULTA' || senhaOperadorPainel.setor === 'EXAME' || senhaOperadorPainel.setor === 'REALIZAR AGENDAMENTO' ) && senhaOperadorPainel.status !== '3'" 
  class="mt-4"
  style="color: white;">
   <div class="">
    <h5 style="color: white;">Informações do Paciente</h5>
    <div class="form-group">
      <label style="color: white;">Nome do Paciente</label>
      <input class="form-control" [(ngModel)]="dadosPaciente.nome" placeholder="Digite o nome">
    </div>
    <div class="form-group mt-2">
      <label style="color: white;">Nome do Médico</label>
      <select class="form-control" [(ngModel)]="dadosPaciente.medico">
        <option *ngFor="let medico of medicos" [value]="medico.nome">{{ medico.nome }}</option>
      </select>
    </div>

   </div>
  
  <!-- <div class="form-group mt-2"> -->
    <!-- <label style="color: white;">Número do Consultório</label> -->
    <!-- <select class="form-control" [(ngModel)]="dadosPaciente.consultorio"> -->
      <!-- <option *ngFor="let consultorio of consultorios" [value]="consultorio.numero">{{ consultorio.numero }}</option> -->
    <!-- </select> -->
  <!-- </div> -->
  </div>
    </div>

   <!-- Linha separadora -->
  <hr class="my-4 mb-4">


 <!-- Tabela com senhas sendo atendidas -->
<div class="container-fluid mb-5">
  <div class="row">
    <div class="container-fluid">
      <table class="table table-overflow">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">ESCOLHER SENHA</th>
            <th scope="col">SENHA EM ATENDIMENTO</th>
            <th scope="col">REPETIR SENHA</th>
            <th scope="col">FINALIZAR</th>
            <th>NÃO COMPARECEU</th>
            
          </tr>
          
        </thead>
        <tbody>
          <tr class="text-center" >
             <!-- Dados do cliente e senha sendo atendida -->
            <th scope="row"></th>
            <td>     
              <!-- Lista de Senhas -->
                <div class="mt-3">
                  <h5 *ngIf="!senhaOperadorPainel.senha">Senhas:</h5>
                  <div *ngIf="senhaOperadorPainel.status ==='1'">
                      <br>
                      <br>
                  </div>
                  <ul>
                    <li *ngFor="let senha of senhasDisponiveis">
                      <button 
                        class="btn m-1" 
                        [ngClass]="{
                          'senha-consulta': senha.setor === 'CONSULTA',
                          'senha-agendamento': senha.setor === 'REALIZAR AGENDAMENTO',
                          'senha-exames': senha.setor === 'EXAME',
                          'senha-resultado': senha.setor === 'RESULTADO DE EXAMES'
                        }"
                        (click)="chamarSenhaConvencional(senha)">
                        Senha: {{ senha.senha }} 
                      </button>
                    </li>
                  </ul>
                </div>    
            </td>
            <td> <h5 class="senha"> {{senhaOperadorPainel.senha}}</h5>  </td>
            <!-- Botões de ações para a senha -->
            <!--<td ><button *ngIf="senhaOperadorPainel.status ==='1'" class="btn btn-danger btn-lg btn-block"  >EM ATENDIMENTO</button></td>-->
            <td ><button *ngIf="senhaOperadorPainel.status ==='1'" class="btn btn-primary btn-lg btn-block" (click)="repetirsenha(senhaOperadorPainel)">REPETIR SENHA</button></td>
           <td><button *ngIf="senhaOperadorPainel.status ==='1'" type="button" class="btn btn-primary btn-lg btn-block" (click)="finalizarConvencional(senhaOperadorPainel)">Finalizar Atendimento</button>
            
            <td>
                <button
                  *ngIf="senhaOperadorPainel.status === '1'"
                  class="btn btn-warning btn-lg btn-block"
                  style="color: #222; font-weight: bold;"
                  (click)="naoCompareceu(senhaOperadorPainel)">
                  NÃO COMPARECEU
                </button>
              </td>
              <!--<td class="senha">{{senhaOperadorPainel.senha}}</td>-->
          </tr>
       </tbody>
      </table>
     </div>
    </div>
   </div>
  </div>
</section>



<!--TELA DE ENTRADA-->
<section *ngIf="!telaoperador">
  <div class="main">
    <div style="color: aliceblue;" class="d-flex justify-content-center"><h3 style="margin-top: 6%;">Escolha o Guichê:</h3></div> 
    <div class="container"> 
     
    <div class="middle">
      <div id="login">
         <!-- Formulário para selecionar guichê e nome do operador -->
        <form action="javascript:void(0);" [formGroup]="formulario"  (ngSubmit)="cadastrarConvencional()">
          <fieldset class="clearfix">
           <!-- Seleção de guichê -->
<div class="mb-4" style="text-align: center;">
  <label style="color: aliceblue;" for="selectedOption" class="m-1">Informe seu Guichê:</label>
  <select id="selectedOption" formControlName="guiche" 
    style="font-size: 1.5rem; width: 80%; margin-top: 10px; text-align: center;  box-shadow: none;">
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
  </select>
</div>

            
<!-- Campo para inserir o nome do operador -->
<div class="mb-4" style="text-align: center;">
  <label style="color: aliceblue;" for="selectedOption" class="m-1">Nome:</label>
  <input 
    class="fa fa-user" 
    name="nome" 
    type="text" 
    formControlName="nome" 
    placeholder="" 
    required
    [value]="nomeUsuario"   
    readonly  
    style="border: none; background: transparent; box-shadow: none; font-size: 1.5rem; width: 80%; margin-top: 10px; text-align: center;" 
  />
</div>







<!-- Botão para entrar no sistema -->
             <div>
                <!--  <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgot
                 password?</a></span> -->
                 <span style="width:60%; text-align:right;  display: inline-block;"><input type="submit" name="submit"  value="ENTRAR"></span>
              </div>

          </fieldset>
<div class="clearfix"></div>
        </form>

        <div class="clearfix"></div>

      <!-- Logo do sistema -->
      </div> <!-- end login -->
        <div class="logo1">
              <img class="logo" src="./assets/img/logouai.png"/>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
  


<!-- Modal para avaliação -->
<!--
<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Atendimento Finalizado</h5>
    <button type="button" class="close" (click)="modal.hide()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>A nota será atribuída automaticamente e enviada ao sistema.</p>
    <input 
      type="number" 
      [(ngModel)]="notaDigitada" 
      (keydown)="onKeyPress($event)" 
      style="opacity: 0; height: 0; width: 0; position: absolute;" 
      maxlength="2" 
      placeholder="Digite a nota"
    />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.hide()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="finalizarComNota(modal)">Finalizar</button>
  </div>
</ng-template>
-->