<!-- Spinner de carregamento enquanto uma senha é chamada -->
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Chamando Senha...</p>
</ngx-spinner>


<!--TELA CONVENCIONAL-->
<section *ngIf="telaoperador">  
  <div class="main">
    <!-- Cabeçalho com informações do operador -->
    <div class="row text-center pt-5 ">
    <div class="col-md-12 ">
      <h1 style="color:rgb(255, 255, 255)">OPERADOR(A)</h1>
      <h3 style="color:rgb(136, 157, 189)"> {{operador}}</h3>
    </div>
    
    <!-- Botões para chamar diferentes tipos de senha -->
    <div class="col-md-6 mt-5">
      <button class="btn  botao" (click)="chamarSenhaNormalConvencional()">SENHA NORMAL</button>
    </div>
    <div class=" col-md-6 mt-5 ">
      <button class="btn  botao" (click)="chamarsenhapreferencial()">SENHA PREFERENCIAL</button>
    </div>
    <div class="col-md-6 mt-5">
      <button class="btn botao" (click)="mostrarSenhasNaoAtendidas()">Seleciona uma senha</button>
    </div>
    
   <!-- Lista de Senhas Preferenciais -->
<div class="mt-3">
  <h5>Senhas Preferenciais:</h5>
  <ul>
    <li *ngFor="let senha of senhasPreferenciais">
      <button class="btn btn-primary m-1" (click)="chamarsenhapreferencial(senha)">
        Senha: {{ senha.senha }}
      </button>
    </li>
  </ul>
</div>

<!-- Lista de Senhas Não Preferenciais -->
<div class="mt-3">
  <h5>Senhas Não Preferenciais:</h5>
  <ul>
    <li *ngFor="let senha of senhasNaoPreferenciais">
      <button class="btn btn-secondary m-1" (click)="chamarSenhaNormalConvencional(senha)">
        Senha: {{ senha.senha }}
      </button>
    </li>
  </ul>
</div>
</div>

   <!-- Linha separadora -->
  <hr class="my-4 mb-4">


 <!-- Tabela com senhas sendo atendidas -->
<div class="container-fluid mb-5">
  <div class="row">
    <div class="container-fluid">
      <table class="table table-overflow">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">SENHA</th>
            <th scope="col">CHAMAR SENHA</th>
            <th scope="col">REPETIR SENHA</th>
            <th scope="col">FINALIZAR</th>
          </tr>
        </thead>
        <tbody>
          <tr >
             <!-- Dados do cliente e senha sendo atendida -->
            <th scope="row"></th>
            <td>{{senhaOperadorPainel.cliente}}</td>
            <td>{{senhaOperadorPainel.senha}}</td>
            
            <!-- Botões de ações para a senha -->
            <td ><button *ngIf="senhaOperadorPainel.status ==='1'" class="btn btn-danger btn-lg btn-block"  >EM ATENDIMENTO</button></td>
            <td ><button *ngIf="senhaOperadorPainel.status ==='1'" class="btn btn-primary btn-lg btn-block" (click)="repetirSenhaConvencional(senhaOperadorPainel)">REPETIR SENHA</button></td>
            <td ><button *ngIf="senhaOperadorPainel.status ==='1'"type="button" class="btn btn-primary" (click)="finalizarConvencional(senhaOperadorPainel)">Finalizar Atendimento</button></td>
            


            
          </tr>
       </tbody>
      </table>
     </div>
    </div>
   </div>
  </div>
</section>



<!--TELA DE ENTRADA-->
<section *ngIf="!telaoperador">
  <div class="main">
    <div style="color: aliceblue;" class="d-flex justify-content-center"><h3 style="margin-top: 6%;">Escolha o Guichê:</h3></div> 
    <div class="container"> 
     
    <div class="middle">
      <div id="login">
         <!-- Formulário para selecionar guichê e nome do operador -->
        <form action="javascript:void(0);" [formGroup]="formulario"  (ngSubmit)="cadastrarConvencional()">
          <fieldset class="clearfix">
            <!-- Seleção de guichê -->
            <div class="mb-4">
              <label style=" color: aliceblue;" for="selectedOption" class="m-1">Informe seu Guichê:</label>
              <select id="selectedOption" formControlName="guiche">
                
                <option value="01">01 </option>
                <option value="02">02 </option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06 </option>
                <option value="07">07 </option>
                <option value="08">08 </option>
                <option value="09">09 </option>
                <option value="10">10</option>
                
              </select>
            </div>
            
            <!-- Campo para inserir o nome do operador -->
            <div class="mb-4" >
              <label style=" color: aliceblue;" for="selectedOption">Informe seu nome:</label>
              <input class="fa fa-user" name="nome" type="text" formControlName="nome"   Placeholder="Nome do Operador" required> <!-- JS because of IE support; better: placeholder="Username" -->

            </div>
              <!-- Seleção de setor -->
<div class="mb-4">
  <label style="color: aliceblue;" for="setorSelecionado" class="m-1">Informe o Setor:</label>
  <select id="setorSelecionado" formControlName="setor">
    <option value="" disabled selected>Selecione um setor</option> <!-- Placeholder -->
    <option *ngFor="let setor of setoresDisponiveis" [value]="setor">
      {{ setor }}
    </option>
  </select>
</div>
            <!-- Botão para entrar no sistema -->
             <div>
                <!--  <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgot
                 password?</a></span> -->
                 <span style="width:60%; text-align:right;  display: inline-block;"><input type="submit" name="submit"  value="ENTRAR"></span>
              </div>

          </fieldset>
<div class="clearfix"></div>
        </form>

        <div class="clearfix"></div>

      <!-- Logo do sistema -->
      </div> <!-- end login -->
        <div class="logo1">
              <img class="logo" src="./assets/img/logouai.png"/>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
  


<!-- Modal para avaliação -->
<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Selecione um número de 0 a 9 para avaliar</h5>
    <button type="button" class="close" (click)="modal.hide()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let nota of notasDisponiveis">
      <button (click)="selecionarNota(nota)" class="btn btn-primary">{{nota}}</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.hide()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="finalizarComNota()">Finalizar</button>
  </div>
</ng-template>

